Django==6.0.5
openpyxl==3.1.5
python-dotenv==1.0.1
reportlab==4.4.10
psycopg2-binary==2.9.10
Pillow>=10.0.0
pywebpush==2.0.0
PyMuPDF==1.24.11
gunicorn==23.0.0
whitenoise==6.8.2
django-storages==1.14.4
boto3==1.35.68
